{
  "presets": ["D:/UKTC PROGRAMMING/10.0.0.9976/modeler/tools/node/node_modules/metro-react-native-babel-preset"],
  "plugins": [
    [
      "D:/UKTC PROGRAMMING/10.0.0.9976/modeler/tools/node/node_modules/babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ]
  ]
}